# Ignore all .tif files but keep directories
*.tif
# Ignore things folder
things/

# Keep directory structure by adding .gitkeep files
!**/.gitkeep

/*/
!/@data/
!/@data-processing/
!/@plots/
!/@thesis-writing/
!/@training/

@data/**/*.pdf
@data/**/*.tif
@data/**/*.ipynb
@data-processing/**/*.pdf
@data-processing/**/*.tif
@data-processing/**/*.ipynb
@plots/**/*.pdf
@plots/**/*.tif
@plots/**/*.ipynb
@thesis-writing/**/*.pdf
@thesis-writing/**/*.tif
@thesis-writing/**/*.ipynb
@training/**/*.pdf
@training/**/*.tif
@training/**/*.ipynb

@thesis-writing/thesis-latex/
